<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
</head>
<style>
    .table {
        width: 96%;
        margin-bottom: 20px;
        border-spacing: 0;
        margin: auto;
        border-collapse: collapse;
    }

    .table-bordered {
        border: 1px solid #ddd;
    }

    .table-bordered>tbody>tr>td,
    .table-bordered>tbody>tr>th,
    .table-bordered>tfoot>tr>td,
    .table-bordered>tfoot>tr>th,
    .table-bordered>thead>tr>td,
    .table-bordered>thead>tr>th {
        border: 1px solid #ddd;
        text-align: center;
    }

    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: center;
        border-top: 1px solid #ddd;
    }

    .myTable {
        width: 100%;
        overflow-x: scroll;
    }

    .table>caption+thead>tr:first-child>td,
    .table>caption+thead>tr:first-child>th,
    .table>colgroup+thead>tr:first-child>td,
    .table>colgroup+thead>tr:first-child>th,
    .table>thead:first-child>tr:first-child>td,
    .table>thead:first-child>tr:first-child>th {
        border-top: 0;
    }

    .table tbody th {
        font-weight: normal;
        word-break: break-word;
    }

    .table th.row1 {
        font-weight: bold;
    }

    .table-striped>tbody>tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    caption {
        padding-top: 8px;
        padding-bottom: 8px;
        color: #777;
        text-align: center;
    }

    .table>thead>tr>th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }

    th {
        text-align: left;
    }

    td,
    th {
        padding: 0;
    }

    img {
        width: 150px;
        height: 150px;
        margin: 8px;
    }
</style>
<h3> Dear
    <%= user.USER_NAME%>: </h3>

    <h3 style="text-indent: 30px;">以下文件被<%= rejecter.USER_NAME%>拒签, 謝謝！</h3>

<body>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>文件名</th>
                <th>文件类型</th>
                <th>备注</th>
                <th>上传人</th>
                <th>上传时间</th>
                <th>料号</th>
                <th>文件种类</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="row1">
                    <a file="_blank" href="<%= file.FILE_PATH %>"><%= file.FILE_NAME %></a>
                </th>
                <th scope="row">
                    <%= file.FILE_TYPE %>
                </th>
                <th scope="row">
                    <%= file.REMARK %>
                </th>
                <th scope="row">
                    <%= file.UPLOAD_BY_NAME %>
                </th>
                <th scope="row">
                    <%= file.UPLOAD_TIME %>
                </th>
                <th scope="row">
                    <%  
                        for(var i = 0;i< file.parts.length;i++) {
                            var parts = file.parts[i];
                            %>
                    <div><%= parts %></div>
                    <% } %>

                </th>
                <th scope="row">
                    <%= file.FILE_CATEGORY %>
                </th>
            </tr>
        </tbody>
    </table>

    <hr>
    <div style="color:blue">系統郵件，請勿回復</div>
</body>

</html>